<h1 class="text-center mb-3 mt-5">Create Job</h1>
<%- include ("partials/messages"); %>
<form action="/articles/compose" method="POST">
  <div class="container-sm mt-5 form">

<div class="form-group">
    <label for="exampleInputTitle1">Title</label>
    <input type="title"
     class="form-control" 
     id="exampleInputTitle1" 
     placeholder="Enter Title"
     name="jobtitle"
    value="<%= typeof job_title != 'undefined' ? job_title : '' %>"
     >
  </div>

  

  <div class="form-group">
    <label for="exampleInputContent1">Job Description</label>
    <textarea class="form-control" 
    id="exampleFormControlTextarea1" 
    name="jobdescription" 
    placeholder="Enter Description"
     rows="3"
     value="<%= typeof job_description != 'undefined' ? job_description: '' %>" ></textarea>
    
  </div>

  <div class="form-group">
    <label for="exampleFormControlSelect1">Category</label>
    <select class="form-control" id="exampleFormControlSelect1" name="jobcategory" value="<%= typeof job_category!= 'undefined' ? job_category: '' %>">
      <option value="" selected disabled hidden>-- Select Job category --</option>
      <option value="health">Health</option>
      <option value="science">Science</option>
      <option value="business">Business</option>
      <option value="technology">Technology</option>
      <option value="food">Food</option>
      <option value="productivity">Productivity</option>
      <option value="culture">Culture</option>
      <option value="fashion">Fashion</option>      
    </select>
  </div>

  <div class="form-group">
    <label for="exampleFormControlSelect1">Level</label>
    <select class="form-control" id="exampleFormControlSelect1" name="joblevel" value="<%= typeof job_level!= 'undefined' ? job_level: '' %>">
      <option value="" selected disabled hidden>-- Select Job category --</option>
      <option value="beginner">Beginner</option>
      <option value="intermediate">Intermediate</option>
      <option value="advance">Advance</option>      
    </select>
  </div>
  
  <button type="submit" class="btn btn-success" style="margin-top:20px;">Submit Job</button>
</div>
</form>