<!-- //all posts -->
<% jobposts.forEach(function(jobpost) { %>
    <div class="container blog-post">
    <h1 class="blg-tle"><a style="color: green;" href="/articles/singlepost/<%= jobpost._id%>"><%= jobpost.job_title %></a></h1>
    <p class="info" style="color: grey; font-style: italic;"><%= jobpost.date %> || Posted by <%= jobpost.name  %>  </p>
    <p class="blg-cnt"><%= jobpost.job_description + "..." %></p>
    <!-- .substring(0, 300) -->
    <p ><a style="color: green;" href="/articles/singlepost/<%= jobpost._id%>">Read More ></a></p>
    <hr class="post-brk" style=" border: 0.01px solid grey">
    </div>
<%})%>
